:root {
  --dynamic-background-color: #ffffff; /* Default fallback color */
}

html {
  height: 100%;
  /* No need for min-height since html will always take at least the full viewport height */
}

body {
  margin: 0; /* Remove margin to make sure it occupies the full viewport height */
  min-height: 100vh; /* Ensure body takes at least the full viewport height */
  
}

/* app.css */

.navbar {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: perspective(500px) rotateX(3deg);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}


#root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dynamic-background-color); /* Apply the dynamic background color */
}
