/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dynamic-background-color: #ffffff; /* Default fallback color */
  --dynamic-button-color: #0000ff; /* Default button color */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dynamic-background-color);
}

.App {
  background-color: var(--dynamic-background-color);
}

button {
  background-color: var(--dynamic-button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
